* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin-bottom: 1rem;
  text-align: center;
}

.date {
  margin-bottom: 1rem;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#add {
  margin-left: 1rem;
}

.list-box {
  border: 2px solid burlywood;
  border-radius: 10px;
  padding: 1rem;
}

.listAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-top: 1em;
  padding: 0.1em 0.5em;
  background-color: burlywood;
  border-radius: 50px;
}

.complete {
  text-decoration: line-through;
}